/*GRID*/
@import url("https://fonts.googleapis.com/css?family=Anton|Open+Sans:400,700,800");
.row {
  overflow: auto; }

@media (min-width: 0) {
  .col-xs-1 {
    float: left;
    width: 8.33333%; }

  .col-xs-2 {
    float: left;
    width: 16.66667%; }

  .col-xs-3 {
    float: left;
    width: 25%; }

  .col-xs-4 {
    float: left;
    width: 33.33333%; }

  .col-xs-5 {
    float: left;
    width: 41.66667%; }

  .col-xs-6 {
    float: left;
    width: 50%; }

  .col-xs-7 {
    float: left;
    width: 58.33333%; }

  .col-xs-8 {
    float: left;
    width: 66.66667%; }

  .col-xs-9 {
    float: left;
    width: 75%; }

  .col-xs-10 {
    float: left;
    width: 83.33333%; }

  .col-xs-11 {
    float: left;
    width: 91.66667%; }

  .col-xs-12 {
    float: left;
    width: 100%; } }
@media (min-width: 768px) {
  .col-sm-1 {
    float: left;
    width: 8.33333%; }

  .col-sm-2 {
    float: left;
    width: 16.66667%; }

  .col-sm-3 {
    float: left;
    width: 25%; }

  .col-sm-4 {
    float: left;
    width: 33.33333%; }

  .col-sm-5 {
    float: left;
    width: 41.66667%; }

  .col-sm-6 {
    float: left;
    width: 50%; }

  .col-sm-7 {
    float: left;
    width: 58.33333%; }

  .col-sm-8 {
    float: left;
    width: 66.66667%; }

  .col-sm-9 {
    float: left;
    width: 75%; }

  .col-sm-10 {
    float: left;
    width: 83.33333%; }

  .col-sm-11 {
    float: left;
    width: 91.66667%; }

  .col-sm-12 {
    float: left;
    width: 100%; } }
@media (min-width: 992px) {
  .col-md-1 {
    float: left;
    width: 8.33333%; }

  .col-md-2 {
    float: left;
    width: 16.66667%; }

  .col-md-3 {
    float: left;
    width: 25%; }

  .col-md-4 {
    float: left;
    width: 33.33333%; }

  .col-md-5 {
    float: left;
    width: 41.66667%; }

  .col-md-6 {
    float: left;
    width: 50%; }

  .col-md-7 {
    float: left;
    width: 58.33333%; }

  .col-md-8 {
    float: left;
    width: 66.66667%; }

  .col-md-9 {
    float: left;
    width: 75%; }

  .col-md-10 {
    float: left;
    width: 83.33333%; }

  .col-md-11 {
    float: left;
    width: 91.66667%; }

  .col-md-12 {
    float: left;
    width: 100%; } }
@media (min-width: 1200px) {
  .col-lg-1 {
    float: left;
    width: 8.33333%; }

  .col-lg-2 {
    float: left;
    width: 16.66667%; }

  .col-lg-3 {
    float: left;
    width: 25%; }

  .col-lg-4 {
    float: left;
    width: 33.33333%; }

  .col-lg-5 {
    float: left;
    width: 41.66667%; }

  .col-lg-6 {
    float: left;
    width: 50%; }

  .col-lg-7 {
    float: left;
    width: 58.33333%; }

  .col-lg-8 {
    float: left;
    width: 66.66667%; }

  .col-lg-9 {
    float: left;
    width: 75%; }

  .col-lg-10 {
    float: left;
    width: 83.33333%; }

  .col-lg-11 {
    float: left;
    width: 91.66667%; }

  .col-lg-12 {
    float: left;
    width: 100%; } }
/*REUSABLES CLASSES*/
.pt-sec, .wrapper, .about-me, .skills, .portfolio, .contact {
  padding-top: 120px; }

.pb-sec, .skills, .portfolio, .contact {
  padding-bottom: 60px; }

.plr-sec, .about-me, .skills, .portfolio, .contact {
  padding-right: 4.5rem;
  padding-left: 4.5rem; }

.plr-gen, header, .wrapper {
  padding-right: 10%;
  padding-left: 10%; }

.mb, h2 {
  margin-bottom: 60px; }

.text-uppercase, h1,
h2, .btn, .navbar {
  text-transform: uppercase; }

.text-center {
  text-align: center; }

.img-bg, .about-me {
  background-image: url("../assets/img/bg_about-me.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%; }

/*GENERAL STYLES*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 14px; }

body {
  font-family: "Open Sans", sans-serif;
  color: #fff; }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; }

h1 {
  font-family: "Anton", sans-serif;
  font-size: 4.35rem;
  line-height: 4.35rem; }

p {
  line-height: 1.5rem;
  margin: 2rem 0; }

/*BLOCKS*/
.btn {
  display: inline-block;
  margin: 1rem 0;
  padding: 14px 42px;
  -webkit-transition: all .2s ease-in-out;
  text-decoration: none;
  color: #fff;
  background: #f99;
  box-shadow: 0 5px 0 0 #ba7070; }
  .btn:hover {
    background: #ffabab; }
  .btn:active {
    box-shadow: 0 2px 0 0 #ba7070; }

.navbar {
  overflow: auto;
  list-style: none;
  background-color: transparent; }
  .navbar__item {
    float: left;
    margin: 2px; }
    .navbar__item a {
      display: block;
      padding: 1.5rem;
      text-align: center;
      text-decoration: none;
      color: #fff;
      background-color: transparent; }
    .navbar__item a:hover {
      color: #fff;
      background-color: #ffabab; }

/*SECTIONS OF THE PAGE*/
.root {
  height: 2000px;
  background-image: radial-gradient(#e6dfda, #837a7b); }

.about-me {
  height: 600px; }

.skills {
  height: 600px;
  background-color: #3e4149; }

.portfolio {
  background-color: skyblue; }

.proyecto {
  height: 300px;
  margin: 1rem;
  -webkit-transition: all .2s ease-in-out;
  background-color: blue;
  box-shadow: 0 5px 0 0 #ba7070; }

.contact {
  background-color: orange; }

/*# sourceMappingURL=main.css.map */
