//PALETA DE COLOR
$base-color       :  #444f5a; //OUTER SPACE
$comp-color       :  #ff9999; //LIGHT SALMON PINK
$comp-light-color :  #FFABAB;
$comp-dark-color  :  #ba7070;
$anal-color       :  #ffc8c8; //BUBBLE GUN
$neut1-color      :  #3e4149; //ARSENIC
$neut2-color      :  #ffffff; //WHITE
