@import "partials/_colors";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 14px;
}
.navbar {
  background-color: gray;
  list-style: none;
  overflow: auto;
  &__item {
    float:left;
    margin:2px;
    a{
      background-color:transparent;
      color:$color_neu2;
      display:block;
      font-size: 1rem;
    	padding:1rem 0;
    	text-decoration:none;
    	text-align:center;
      width:100px;
    }
    a:hover {
      background-color:#ffffff;
	    color:#000000;
    }
  }
}
