@import 'partials/_grid';
@import 'partials/_colors';
@import 'partials/_fonts';
/*REUSABLES CLASSES*/
.pt-sec
{
    //para secciones
    padding-top: 120px;
}

.pb-sec
{
    //para secciones
    padding-bottom: 60px;
}

.plr-sec
{
    padding-right: 4.5rem;
    //laterales para secciones
    padding-left: 4.5rem;
}

.plr-gen
{
    padding-right: 10%;
    //laterales para el wrapper
    padding-left: 10%;
}

.mb
{
    margin-bottom: 60px;
}

.text-uppercase
{
    text-transform: uppercase;
}

.text-center
{
    text-align: center;
}

.img-bg
{
    background-image: url('../assets/img/bg_about-me.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}
/*GENERAL STYLES*/
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html
{
    font-size: 14px;
}

body
{
    font-family: $content-font;

    color: $neutral1-color;
}

header
{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;

    @extend .plr-gen;
}

h1,
h2
{
    @extend .text-uppercase;
}

h1
{
    font-family: $title-font;
    font-size: 4.35rem;
    line-height: 4.35rem;
}

h2
{
    @extend .mb;
}

p
{
    line-height: 1.5rem;

    margin: 2rem 0;
}
/*BLOCKS*/
.btn
{
    display: inline-block;

    margin: 1rem 0;
    padding: 14px 42px;

    -webkit-transition: all .2s ease-in-out;
    text-decoration: none;

    color: $neutral1-color;
    background: $comp-color;
    box-shadow: 0 5px 0 0 $comp-dark-color;

    @extend .text-uppercase;

    &:hover
    {
        background: $comp-light-color;
    }

    &:active
    {
        box-shadow: 0 2px 0 0 $comp-dark-color;
    }
}

.navbar
{
    overflow: auto;

    list-style: none;

    background-color: transparent;

    @extend .text-uppercase;

    &__item
    {
        float: left;

        margin: 2px;

        a
        {
            display: block;

            padding: 1.5rem;

            text-align: center;
            text-decoration: none;

            color: $neutral1-color;
            background-color: transparent;
        }

        a:hover
        {
            color: $neutral1-color;
            background-color: $comp-light-color;
        }
    }
}
/*SECTIONS OF THE PAGE*/
.root
{
    height: 2000px;

    background-image: radial-gradient(#e6dfda, #837a7b);
}

.wrapper
{
    @extend .pt-sec;
    @extend .plr-gen;
}

.about-me
{
    height: 600px;

    @extend .pt-sec;
    @extend .plr-sec;
    @extend .img-bg;
}

.skills
{
    height: 600px;

    background-color: $neut1-color;

    @extend .pt-sec;
    @extend .pb-sec;
    @extend .plr-sec;
}

.portfolio
{
    background-color: $gray-lighten1;

    @extend .pt-sec;
    @extend .pb-sec;
    @extend .plr-sec;
}

.proyecto
{
    height: 300px;
    margin: 1rem;

    -webkit-transition: all .2s ease-in-out;

    background-color: $gray-lighten3;
}

.contact
{
    background-color: $neut1-color;

    @extend .pt-sec;
    @extend .pb-sec;
    @extend .plr-sec;
}
